extends ./layout/app

block contenido 
    div(class=" flex items-center justify-center h-screen")
        div(class="text-center")
            h1(class="text-9xl font-bold text-gray-800 animate-bounce") 404
            p(class="text-2xl text-gray-600 mt-4") Oops! We can't seem to find the page you're looking for.
            a(href="/" class="mt-6 inline-block px-6 py-3 bg-indigo-500 text-white font-medium text-lg rounded-md hover:bg-indigo-600 transition-all duration-300") Regresar al inicio    